<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Small Cryto Tracker</title>
  <link rel="stylesheet" href="./styles.css"> 
</head>
<body>

  <div id="app" v-bind:style="{background: '#' + color}">
    <img 
    v-on:mouseover="toggleShowPrices" 
    v-on:mouseout="toggleShowPrices" 
    :src="image" :alt="name" id="logoEth">

    <h1>
      {{title}}
      <span v-if="changePercent>0">💸</span>
      <span v-if="changePercent>0">💸</span>
      <span v-else-if="changePercent<0">☠️</span>
      <span v-else>🆘</span>

      <span v-show="changePercent>0">💸</span>
      <span v-show="changePercent<0">☠️</span>
      <span v-show="changePercent == 0">🆘</span>
    </h1>


    <button v-on:click="toggleShowPrices">
      {{!showPrices?'Ver precios':'Ocultar precios'}}
    </button>

    <ul v-show="showPrices == true">
      <li v-for="(price, index) in prices" :key="price">
        {{index}} : {{price}}
      </li>
    </ul>

    <ul>
      <li v-for="(price, index) in pricesWithDays" :key="price.day" v-bind:class="{orange: price.value === currentPrice, red: price.value < currentPrice, green: price.value > currentPrice}">
        {{index}} : {{price["day"]}} : {{price["value"]}}
      </li>
    </ul>

  

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="./app.js"></script>


</body>
</html>

